# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore build/bin directories
[Bb]uild/
build_*/
.DS_Store
.vscode/tasks.json
.vscode/launch.json
.vs/Alcolator/v16/.suo
.vs/Alcolator/v16/Browse.VC.db
.vs/CMake Overview
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
cmake/Info.plist.in
cmake/App.cmake
.vscode/settings.json
.vscode/c_cpp_properties.json
