/**** Text ****/
body {
    font-family: "Open Sans", "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    cursor: default;
    -webkit-user-select: none;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 32pt;
    font-weight: 900;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 18pt;
    font-weight: 900;
}

h3 { 
    font-family: "Open Sans", sans-serif;
    font-size: 14pt !important;
    font-weight: 500;
}

h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 14pt;
    font-weight: 900;
}

h5 {
    font-family: "Montserrat", sans-serif;
    font-size: 20pt;
    font-weight: bold;  
}

/* Semi bold */
.semibold {
    font-weight: 600;
}

/**** Icons ****/
/* Icon default */
i.default {
    font-size: 32pt;
}

/* Navigation icon */
i.nav-icon {
    font-size: 24px;
}

i.list-icon {
    font-size: 56px;
}

i.lock {
    position: absolute;
    z-index: 2;
    margin-left: 265px;
    font-size: 28px;
}

/**** Navigation bar ****/
.nav {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Navigation item */
.nav-item {
    margin-left: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight: normal;
    font-size: 16px;
}

/* Item to send to end of flexbox */
.nav-item--push {
    margin-left: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight: normal;
    font-size: 16px;
}

.cursor-default {
    cursor: default;
}

/**** Input ****/
input.regular {
    height: 6.5vh;
    font-size: 14pt;
}

/* Regular with data input */
input.regular--dat {
    height: 6.5vh;
    font-size: 14pt;
    width: 57%;
}

/* Change cursor on hover */
input.regular:hover {
    cursor: text;
}

/* Longer input */
input.long {
    width: 30%;
}

/* Shorter input */
input.short {
    width: 150px;
}

/* Label */
.input-label {
    min-width: 35%;
    text-align: right;
}

/**** Button format ****/
button {
    border-radius: 20px;
    border-color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: inherit;
}

/* Change styles for data item */
.dataitem:hover {
    background-color: #343642;
    color: white;
    cursor: pointer;
}

/* Select class for boxes */
.selectable:hover {
    cursor: pointer;
    box-shadow:inset 0 0 0 99999px rgba(0,0,0,0.15);
}

/* Select class for text */
.selectable--text:hover {
    cursor: pointer;
    color: #d8d8d8;
}

/**** Colour related ****/
/* Background/foreground colours */
.light-grey {
    background-color: rgba(52, 54, 66, 0.1);
}

.red {
    background-color: #e53833;
}

.dark-grey {
    background-color: #343642;
}

.locked-grey {
    background-color: rgba(52, 54, 66, 0.3);;
}

.yellow--text {
    color: #fbf06a;
}

.black {
    background-color: black;
}
.black--text {
    color: black;
}

.white {
    background-color: white;
}

.white--text {
    color: white;
}

/* Borders */
.border--black {
    border-radius: 1px;
    border-color: black;
}

/**** Centering ****/
/* Horizontal */
.h-centred {
    text-align: center;
}

/**** Modal ****/
/* The general modal backdrop styling, position, etc */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    width: 100%;
    height: calc(100vh - 5.5vh);
    overflow: auto; 
    /*background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);*/
}

/* Blur background style */
.blur {
    -webkit-filter: opacity(0.2) blur(8px);
    filter: opacity(0.2) blur(8px);
    height: 100vh;
    width: 100%;
}

/* Perfect centre */
.centred-settings {
    position: fixed;
    bottom: 50%;
    right: 50%;
    margin-bottom: -205px;
    margin-right: -255px;
}

/* The modal */
.modal--settings {    
    width: 510px;
    height: 360px;
    border: solid #707070;
    border-width: 1px;
    border-radius: 3px;
    padding: 15px;
}

/**** Flexbox ****/
/* Row */
div.flexbox-row {
    display: flex;
    flex-direction: row;
}

/* Column*/
div.flexbox-column {
    display: flex;
    flex-direction: column;
}

div.flexbox-column--list {
    display: flex;
    flex-direction: column;
    width: 27%;
    height: calc(100vh - 5.5vh); /* subtract nav bar height to avoid overflow */
    padding: 0;
}

div.flexbox-column--dat {
    display: flex;
    flex-direction: column;
    width: 73%;
    height: calc(100vh - 5.5vh); /* subtract nav bar height to avoid overflow */
    padding: 0;
}

/* Align horizontal */
div.flexbox-row--align {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Align horizontal left */
div.flexbox-row--alignleft {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 100%;
}

/* Align horizontal right */
div.flexbox-row--alignright {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
}

/* Vertical align */
div.flexbox-column--align {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Scroll vertically */
div.vertical-scroll {
    overflow-y: auto;
}

/**** Padding & margin ****/
/* Top/bottom 10px margin */
.margin-tb--10px {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Top/bottom 13px margin */
.margin-tb--13px {
    margin-top: 13px;
    margin-bottom: 13px;
}

/* Top/bottom 16px margin */
.margin-tb--16px {
    margin-top: 16px;
    margin-bottom: 16px;
}

/* Bottom 10px margin */
.margin-b--10px {
    margin-bottom: 10px;
}

/* Left/right 5px margin */
.margin-lr--10px {
    margin-left: 10px;
    margin-right: 10px;
}

/* No margin */
.nomargin {
    margin: 0;
}

/* Space after label & min-width for input elements */
.margin-input {
    margin: 0;
    margin-right: 5px !important;
}

/* Padding 10px all sides */
.pad--10px {
    padding: 10px;
}

.margin--dataitem {
    margin-bottom: 5px;
    margin-top: 5px;
}

