<html>
  <head>
    <!-- Main app stylesheet-->
    <link rel="stylesheet" href="css/app.css">
    <!-- Material Design Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Vue.JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body class="light-grey" ref="login">
    <!-- Close button -->
    <i class="material-icons selectable--text" style="position: absolute; right: 0px; padding: 5px; font-size: 32px; z-index: 10;" id="close" @click="winClose">close</i>
    <!-- Main panel -->
    <div class="flexbox-column--align" style="min-height: 95vh;" id="vm">
      <!-- Title & login labels -->
      <img src="img/logo-medium.png" class="h-centred" style="margin: 0%; margin-left: 4.5%; margin-bottom: 10px;">
      <h3 class="h-centred orange--text" style="margin-top: 0%; margin-left: 4.5%; margin-top: 0.5%;"><strong>Login</strong></h3>
      <!-- Username input -->
      <div class="flexbox-row--align margin-b--10px">
        <i class="material-icons margin-lr--10px default">account_circle</i>
        <input class="light-grey border--black regular long" type="text" id="username" v-model="username">
      </div>
      <!-- Password input -->
      <div class="flexbox-row--align margin-tb--10px">
        <i class="material-icons margin-lr--10px default">lock</i>
        <input class="light-grey border--black regular long" type="password" id="password" v-model="password">
      </div>
      <!-- Validation -->
      <template v-if="incorrectLogin">
        <h6 style="color: darkred; padding: 0; margin-top: 2px; margin-bottom: 3px; margin-left: 40px; font-size: 11pt;">Credentials not recognised.</h6>
      </template>
      <!-- Login button, don't register click if not all values are inputted -->
      <div class="flexbox-row margin-tb--10px" style="width: 37.5%; justify-content: flex-end;">
        <template v-if="username == '' || password == ''">
          <button class="normal orange white--text disabled">Login</button>
        </template>
        <template v-else>
          <button class="normal orange white--text selectable" @click="login">Login</button>
        </template>
      </div>
    </div>
    <!-- Page Script (all v-model, v-if/v-else and @click are defined here) -->
    <script src="js/login.js"></script>
  </body>
</html>