<html>
  <head>
    <!-- Main app stylesheet-->
    <link rel="stylesheet" href="css/app.css">
    <!-- Material Design Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Vue.JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- JSPDF -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="vm">
      <!-- Navigation bar -->
      <div class="nav dark-grey white--text">
          <a class="nav-item selectable--text" style="font-weight: 700;" @click="fileMenu" ref="btnFile" id="fm">File</a>
          <img src="img/nav_separator.svg" class="nav-item cursor-default">
          <!-- Only show settings if experimenter or above -->
          <template v-if="isEnterSubjectOpen || isLoadExperimentOpen || user.accessLevel == 0">
            <a class="nav-item selectable--text disabled--text">Settings</a>
          </template>
          <template v-else>
            <a class="nav-item selectable--text" @click="settingsOpen">Settings</a>
          </template>
          <img src="img/nav_separator.svg" class="nav-item cursor-default">
          <template v-if="isExperimentLoaded">
            <a class="nav-item"><i>Experiment:</i> {{experiment.name}}</a>
          </template>
          <template v-else>
            <a class="nav-item"><i>Experiment:</i> None Loaded</a>
          </template>
          <h2 class="yellow--text nav-item--push cursor-default"><strong>Alcolator</strong></h2>
          <img src="img/nav_separator.svg" class="nav-item cursor-default" style="opacity: 0.2">
          <i class="material-icons nav-icon nav-item selectable--text" style="margin-bottom: 6px;">minimize</i> <!-- TODO: Minimise -->
          <i class="material-icons nav-icon nav-item selectable--text" style="margin-right: 9px;" @click="areYouSureOpen(winClose)">close</i>
      </div>
      <div class="flexbox-row">
        <!-- Record sidebar -->
        <div class="flexbox-column--list light-grey">
          <!-- Search box -->
          <input v-model="searchText" class="white border--black regular" ref="searchBox" v-bind:class="{show: isSearchOpen}" style="padding-left: 38px; position: absolute; left: 185px; top: 38px; display: none;" id="search">
          <!-- Sort buttons, toggleable -->
          <template v-if="isExperimentLoaded">
            <template v-if="sortCycle == 1">
              <div class="selectable--text" @click="sortClick">
                <h6 style="position: absolute; font-weight: bold; font-size: 11pt; top: 12px; left: 5px">Code</h6>
                <i class="material-icons" style="margin-left: 40px; top: 42px; position: absolute; font-size: 30px;">keyboard_arrow_down</i>
              </div>
            </template>
            <template v-else-if="sortCycle == 2">
              <div class="selectable--text" @click="sortClick">
                <h6 style="position: absolute; font-weight: bold; font-size: 11pt; top: 12px; left: 5px">Code</h6>
                <i class="material-icons" style="margin-left: 40px; top: 42px; position: absolute; font-size: 30px;">keyboard_arrow_up</i>
              </div>
            </template>
            <template v-else-if="sortCycle == 3">
              <div class="selectable--text" @click="sortClick">
                <h6 style="position: absolute; font-weight: bold; font-size: 11pt; top: 12px; left: 6px">Date</h6>
                <i class="material-icons" style="margin-left: 40px; top: 42px; position: absolute; font-size: 30px;">keyboard_arrow_down</i>
              </div>
            </template>
            <template v-else-if="sortCycle == 4">
              <div class="selectable--text" @click="sortClick">
                <h6 style="position: absolute; font-weight: bold; font-size: 11pt; top: 12px; left: 6px">Date</h6>
                <i class="material-icons" style="margin-left: 40px; top: 42px; position: absolute; font-size: 30px;">keyboard_arrow_up</i>
              </div>
            </template>
            <template v-else-if="sortCycle == 0">
              <div class="selectable--text" @click="sortClick">
                <h6 style="position: absolute; font-weight: bold; font-size: 11pt; top: 12px; left: 5px">Sort</h6>
                <i class="material-icons" style="margin-left: 34px; top: 42px; position: absolute; font-size: 30px;">import_export</i>
              </div>
            </template>
          </template>
          <template v-else>
            <!-- If no experiment loaded, don't allow click -->
            <div class="disabled--text">
              <h6 style="position: absolute; font-weight: bold; font-size: 11pt; top: 12px; left: 5px">Sort</h6>
              <i class="material-icons" style="margin-left: 34px; top: 42px; position: absolute; font-size: 30px;">import_export</i>
            </div>
          </template>
          <div class="flexbox-row--align">
            <strong><h2 style="margin: 10px;">Records</h2></strong>
            <!-- Allow search if experiment is loaded -->
            <template v-if="isExperimentLoaded">
              <i @click="searchClick" id="searchBtn" class="material-icons selectable--text" style="margin-right: 9px; margin-left: 85px; position: absolute; font-size: 30px;">search</i>
            </template>
            <template v-else>
              <i id="searchBtn" class="material-icons disabled--text" style="margin-right: 9px; margin-left: 85px; position: absolute; font-size: 30px;">search</i>
            </template>
          </div>   
          <div class="vertical-scroll">
            <!-- Search if search box is active -->
            <template v-if="isSearchActive">
              <!-- Display message if no records found -->
              <template v-if="searchRecords.length == 0">
                <h6 style="text-align: center;">No records found.</h6>
              </template>
              <record
              v-for="record in searchRecords"
              v-bind:key="record.id"
              v-bind:record="record"
              v-bind:experiment="experiment"
              v-bind:class="{draft: record.draft}"
              @click.native="recordClick($event, record)">
              </record>
            </template>
            <!-- Display all records if search not active -->
            <template v-else>
              <record
              v-for="record in records"
              v-bind:key="record.id"
              v-bind:record="record"
              v-bind:experiment="experiment"
              v-bind:class="{draft: record.draft}"
              @click.native="recordClick($event, record)">
              </record>
            </template>
          </div>
        </div>
        <div class="flexbox-column--dat pad--10px">
          <!-- If new start or nothing selected -->
          <template v-if="isNewStart">
            <h3 style="margin-top: 15px; margin-left: 15px; margin-bottom: 0;">Please select an operation.</h3>
            <div class="flexbox-row pad--10px" style="height: 63%;"></div>
          </template>
          <template v-else>
            <!-- Switch heading depending on status -->
            <template v-if="isViewingSubject">
              <strong><h4 style="margin-top: 15px; margin-left: 15px; margin-bottom: 0;">Viewing Subject {{selected.subject_code}}</h4></strong>
            </template>
            <template v-else-if="isBacMode">
              <strong><h4 style="margin-top: 15px; margin-left: 15px; margin-bottom: 0;">Subject {{selected.subject_code}} - In Progress</h4></strong>
            </template>
            <template v-else>
              <strong><h4 style="margin-top: 15px; margin-left: 15px; margin-bottom: 0;">New Subject {{selected.subject_code}}</h4></strong>
            </template>
            <!-- Data entry -->
            <div class="flexbox-row pad--10px" style="height: 63%;">
              <div class="flexbox-column" style="width: 50%;">
                <h3 class="margin-tb--10px"><strong>General Information</strong></h3>
                <div class="flexbox-row--alignright margin-tb--13px">
                  <!-- Age -->
                  <h3 class="margin-input input-label semibold">Age (years): </h3>
                  <template v-if="isViewingSubject">
                    <input readonly class="locked-grey border--black regular--dat" type="text" id="age" v-model="selected.age">
                    <i class="material-icons lock">lock</i>
                  </template>
                  <template v-else-if="isBacMode">
                    <input readonly class="locked-grey border--black regular--dat" type="text" id="age" v-model="draft.age">
                    <i class="material-icons lock">lock</i>
                  </template>
                  <template v-else>
                    <template v-if="validated.age">
                      <input class="light-grey border--black regular--dat" maxlength="2" type="text" id="age" v-model="draft.age">
                    </template>
                    <template v-else>
                      <!-- Validation -->
                      <div class="error-text flexbox-row white--text">
                        <h4 style="margin-left: 4px; font-weight: 500; font-size: 12;">Enter a whole number between 18 & 25.</h4>
                      </div>
                      <input class="light-grey error border--black regular--dat" maxlength="2" type="text" id="age" v-model="draft.age">
                    </template>
                  </template>
                </div>
                <div class="flexbox-row--alignright margin-tb--13px">
                  <!-- Gender -->
                  <h3 class="margin-input input-label semibold">Gender: </h3>
                  <template v-if="isViewingSubject">
                    <input readonly class="locked-grey border--black regular--dat" type="text" id="gender" v-model="selected.gender">
                    <i class="material-icons lock">lock</i>
                  </template>
                  <template v-else-if="isBacMode">
                    <input readonly class="locked-grey border--black regular--dat" type="text" id="gender" v-model="draft.gender">
                    <i class="material-icons lock">lock</i>
                  </template>
                  <template v-else>
                    <!-- Pick male or female -->
                    <div class="dropdown">
                      <template v-if="draft.gender != ''">
                        <button class="dropdown-btn regular--dat light-grey" style="width: 88.9%; padding-top: 0; padding-bottom: 0; padding-left: 8px; padding-right: 0; border-radius: 0px; text-align: left; font-size: 12pt;">
                            {{draft.gender}}
                        </button>
                      </template>
                      <template v-else>
                        <button class="dropdown-btn regular--dat light-grey" style="width: 88.9%; padding-top: 0; padding-bottom: 0; padding-left: 8px; padding-right: 0; border-radius: 0px; text-align: left; font-size: 12pt;">
                            Select
                        </button>                 
                      </template>
                    <div class="dropdown-content light-grey--notopaque" style="min-width: 88%;" id="dropContent">
                      <dropdown
                        v-bind:key="1"
                        v-bind:obj="gender_male"
                        @click.native="setGender($event, gender_male.name)">
                      </dropdown>
                      <dropdown
                        v-bind:key="2"
                        v-bind:obj="gender_female"
                        @click.native="setGender($event, gender_female.name)">
                      </dropdown>
                    </div>
                  </template>
                </div>
                <div class="flexbox-row--alignright margin-tb--13px">
                  <!-- Height -->
                  <h3 class="margin-input input-label semibold">Height (cm): </h3>
                  <template v-if="isViewingSubject">
                    <input readonly class="locked-grey border--black regular--dat" type="text" id="height" v-model="selected.height">
                    <i class="material-icons lock">lock</i>
                  </template>
                  <template v-else-if="isBacMode">
                    <input readonly class="locked-grey border--black regular--dat" type="text" id="height" v-model="draft.height">
                    <i class="material-icons lock">lock</i>
                  </template>
                  <template v-else>
                    <template v-if="validated.height">
                      <input class="light-grey border--black regular--dat" maxlength="3" type="text" id="height" v-model="draft.height">
                    </template>
                    <template v-else>
                      <!-- Validation -->
                      <div class="error-text flexbox-row white--text">
                        <h4 style="margin-left: 4px; font-weight: 500; font-size: 12;">Enter a whole number between 130 & 200.</h4>
                      </div>
                      <input class="light-grey border--black error regular--dat" maxlength="3" type="text" id="height" v-model="draft.height">
                    </template>
                  </template>
                </div>
                <div class="flexbox-row--alignright margin-tb--13px">
                  <!-- Weight -->
                  <h3 class="margin-input input-label semibold">Weight (kg): </h3>
                  <template v-if="isViewingSubject">
                    <input readonly class="locked-grey border--black regular--dat" type="text" id="weight" v-model="selected.weight">
                    <i class="material-icons lock">lock</i>
                  </template>
                  <template v-else-if="isBacMode">
                    <input readonly class="locked-grey border--black regular--dat" type="text" id="weight" v-model="draft.weight">
                    <i class="material-icons lock">lock</i>
                  </template>
                  <template v-else>
                    <template v-if="validated.weight">
                      <input class="light-grey border--black regular--dat" type="text" id="weight" v-model="draft.weight">
                    </template>
                    <template v-else>
                      <!-- Validation -->
                      <div class="error-text flexbox-row white--text">
                        <h4 style="margin-left: 4px; font-weight: 500; font-size: 12;">Enter a whole or decimal number between 35 & 150.</h4>
                      </div>
                      <input class="light-grey border--black error regular--dat" type="text" id="weight" v-model="draft.weight">
                    </template>
                  </template>
                </div>
              </div>
              <div class="flexbox-column" style="width: 50%;">
                <h3 class="margin-tb--10px"><strong>Calculate Target Consumption</strong></h3>
                <div class="flexbox-row--alignright margin-tb--13px">
                  <!-- Target BAC -->
                  <h3 class="margin-input input-label semibold">Target BAC: </h3>
                  <template v-if="isViewingSubject">
                    <input readonly class="locked-grey border--black regular--dat" type="text" id="targetBAC" v-model="selected.target_bac">
                  <i class="material-icons lock">lock</i>
                  </template>
                  <template v-else-if="isBacMode">
                    <input readonly class="locked-grey border--black regular--dat" type="text" id="targetBAC" v-model="draft.target_bac">
                  <i class="material-icons lock">lock</i>
                  </template>
                  <template v-else>
                    <template v-if="validated.target_bac">
                      <input class="light-grey border--black regular--dat" type="text" id="targetBAC" v-model="draft.target_bac">
                    </template>
                    <template v-else>
                      <!-- Validation -->
                      <div class="error-text flexbox-row white--text">
                        <h4 style="margin-left: 4px; font-weight: 500; font-size: 12;">Enter a decimal number between 0 & 0.15.</h4>
                      </div>
                      <input class="light-grey border--black error regular--dat" type="text" id="targetBAC" v-model="draft.target_bac">
                    </template>
                  </template>
                </div>
                <div class="flexbox-row--alignright margin-tb--13px">
                  <!-- When to reach target BAC -->
                  <h3 class="margin-input input-label semibold">Reach in: </h3>
                  <template v-if="isViewingSubject">
                    <input readonly class="locked-grey border--black regular--dat" type="text" id="bacReachTime" v-model="selected.target_bac_time">
                    <i class="material-icons lock">lock</i>
                  </template>
                  <template v-else-if="isBacMode">
                    <input readonly class="locked-grey border--black regular--dat" type="text" id="bacReachTime" v-model="draft.target_bac_time">
                    <i class="material-icons lock">lock</i>
                  </template>
                  <template v-else>
                    <template v-if="validated.target_bac_time">
                      <input class="light-grey border--black regular--dat" type="text" id="bacReachTime" v-model="draft.target_bac_time">
                    </template>
                    <template v-else>
                      <!-- Validation -->
                      <div class="error-text flexbox-row white--text">
                        <h4 style="margin-left: 4px; font-weight: 500; font-size: 12;">Enter a whole or decimal number between 0 & 8.</h4>
                      </div>
                      <input class="light-grey border--black error regular--dat" type="text" id="bacReachTime" v-model="draft.target_bac_time">
                    </template>
                  </template>
                </div>
                <div class="flexbox-row--alignright margin-tb--13px">
                  <template v-if="isViewingSubject">
                    <!-- BAC Recorded at -->
                    <h3 class="margin-input input-label semibold">Recorded: </h3>
                    <input readonly class="locked-grey border--black regular--dat" type="text" id="timeRecorded" v-model="selected.actual_bac_time">
                    <i class="material-icons lock">lock</i>
                  </template>
                  <template v-else-if="isBacMode">
                    <!-- Actual BAC recorded-->
                    <h3 class="margin-input input-label semibold">Actual BAC: </h3>
                    <template v-if="validated.actual_bac">
                      <input class="light-grey border--black regular--dat" type="text" id="bacReachTime" v-model="draft.actual_bac">
                    </template>
                    <template v-else>
                      <!-- Validation -->
                      <div class="error-text flexbox-row white--text">
                        <h4 style="margin-left: 4px; font-weight: 500; font-size: 12;">Enter a decimal number between 0 & 0.15.</h4>
                      </div>
                      <input class="light-grey border--black error regular--dat" type="text" id="bacReachTime" v-model="draft.actual_bac">
                    </template>
                  </template>
                  <template v-else>
                    <!-- Beverage measurement dropdown-->
                    <h3 class="margin-input input-label semibold">Measure in: </h3>
                    <div class="dropdown">
                      <template v-if="draft.beverage_name != ''">
                        <button class="dropdown-btn regular--dat light-grey" style="width: 88.9%; padding-top: 0; padding-bottom: 0; padding-left: 8px; padding-right: 0; border-radius: 0px; text-align: left; font-size: 12pt;">
                            {{draft.beverage_name}}
                        </button>
                      </template>
                      <template v-else>
                        <button class="dropdown-btn regular--dat light-grey" style="width: 88.9%; padding-top: 0; padding-bottom: 0; padding-left: 8px; padding-right: 0; border-radius: 0px; text-align: left; font-size: 12pt;">
                            Select
                        </button>                 
                      </template>
                    <div class="dropdown-content light-grey--notopaque" style="min-width: 88.3%;" id="dropContent">
                      <dropdown
                        v-for="beverage in beverages"
                        v-bind:key="beverage.id"
                        v-bind:obj="beverage"
                        @click.native="chooseBeverageSubject($event, beverage)">
                      </dropdown>
                    </div>
                  </template>
                </div>
                <template v-if="isViewingSubject">
                  <div class="flexbox-row--alignright margin-tb--13px">
                    <!-- Actual BAC recorded -->
                    <h3 class="margin-input input-label semibold">Actual BAC: </h3>
                    <input readonly class="locked-grey border--black regular--dat" type="text" id="bacActual" v-model="selected.actual_bac">
                    <i class="material-icons lock">lock</i>
                  </div>
                </template>
                <template v-else-if="isBacMode">
                  <div class="flexbox-row--alignright margin-tb--13px" style="justify-content: flex-end;">
                    <!-- Record actual BAC button-->
                    <template v-if="draft.actual_bac == ''">
                      <button class="normal red white--text disabled" style="margin-right: 25px;" id="recordBAC">Record Actual BAC</button>
                    </template>
                    <template v-else>
                      <button class="normal red white--text selectable" style="margin-right: 25px;" id="recordBAC" @click="bacRecord">Record Actual BAC</button>
                    </template>
                  </div>                
                </template>
                <template v-else>
                  <!-- Calculate button-->
                  <div class="flexbox-row--alignright margin-tb--13px" style="justify-content: flex-end;">
                    <button class="normal dark-grey white--text selectable" style="margin-right: 25px; width: 172px;" id="cancel" @click="areYouSureOpen(cancelSubject)">Cancel</button>
                    <template v-if="draft.age == '' || draft.gender == '' || draft.height == '' || draft.weight == '' || draft.target_bac == '' || draft.target_bac_time == '' || draft.beverage_name == ''">
                      <button class="normal red white--text disabled" style="margin-right: 25px;" id="calculate">Calculate</button>
                    </template>
                    <template v-else>
                      <button class="normal red white--text selectable" style="margin-right: 25px;" id="calculate" @click="calculateClick">Calculate</button>
                    </template>           
                  </div>
                </template>
              </div>
            </div>
          </template>
          <div class="flexbox-column light-grey" style="height: 37%;">
            <!-- Results -->
            <strong><h2 style="margin: 5px;">Results</h2></strong> 
            <div class="flexbox-row--alignleft" style="align-items: flex-end; margin-left: 10px; margin-top: 10%; width: 76%;">
              <!-- Results of calculation -->
              <template v-if="isCalculateClicked">
                <p>
                  GIVE <strong>SUBJECT {{draft.subject_code}}</strong> {{draft.amount_grams}} grams of alcohol as {{draft.amount_beverage}} ml 
                  of {{selected.beverage_name}} to reach a blood alcohol concentration of {{draft.target_bac}}% in {{draft.target_bac_time}} {{checkPlural(draft.target_bac_time)}}.
                  <br><br>
                  Click ADMINISTERED after giving subject calculated amount.
                </p>
              </template>
              <!-- Results of alcohol administration -->
              <template v-else-if="isBacMode">
                <p>
                <strong>SUBJECT {{draft.subject_code}}</strong> administered {{draft.amount_grams}} grams of alcohol targeting
                  a blood alcohol concentration of {{draft.target_bac}}% in {{draft.target_bac_time}} hours.
                </p>
              </template>
              <!-- Final results with actual BAC -->
              <template v-else-if="isViewingSubject">
                <p>
                  <strong>SUBJECT {{selected.subject_code}}</strong> administered {{selected.amount_grams}} grams of alcohol targeting
                  a blood alcohol concentration of {{selected.target_bac}}% in {{selected.target_bac_time}} {{checkPlural(selected.target_bac_time)}}.
                  <br><br>
                  Actual BAC recorded was {{selected.actual_bac}}% read at {{selected.actual_bac_time}}.
                </p>
              </template>
            </div>
            <div class="flexbox-row--alignleft" style="align-self: flex-end; margin-bottom: 0px;">
              <!-- Administered button-->
              <template v-if="isCalculateClicked">
                <button class="dark-grey white--text selectable" style="align-self: flex-end; margin-bottom: 20px; margin-top: 0; margin-left: 20px;" id="administer" @click="administeredClick">Administered</button>
              </template>
              <!-- Button to download PDF report -->
              <template v-else-if="isViewingSubject">
                <button class="dark-grey white--text selectable" style="align-self: flex-end; margin-bottom: 20px; margin-top: 0; margin-left: 20px;" id="pdfRep">Download PDF Report</button>
              </template>                    
              <img src="img/bottle.png" alt="beer bottle" class="nav-item--push" style="align-self: flex-end; margin-bottom: 0; margin-right: 20px;" width="209px" height="145px">
            </div>   
          </div>
        </div>
        <!-- File menu dropdown -->
        <div class="file-menu white" v-bind:class="{show: isFileMenuOpen === true}" v-bind:style="{height: fileMenuHeight}" ref="menuFile">
          <div class="flexbox-column">
            <!-- Don't register clicks if any modal is open -->
            <template v-if="isSettingsMenuOpen || isEnterSubjectOpen || isLoadExperimentOpen || isAreYouSureOpen || (draft.subject_code != '')">
              <h6 class="file-menu--text disabled--text">New Subject</h6>
              <hr class="menu-sep" align="center">
              <h6 class="file-menu--text disabled--text">Load Experiment</h6>
            </template>
            <template v-else>
              <!-- Don't register clicks for new subject if no experiment is loaded and the user is an Observer-->
              <template v-if="isExperimentLoaded && user.accessLevel != 0">
                <h6 class="file-menu--text selectable--text" @click="fileNewSubject">New Subject</h6>
              </template>
              <template v-else>
                <h6 class="file-menu--text disabled--text">New Subject</h6>
              </template>
              <hr class="menu-sep" align="center">
              <h6 class="file-menu--text selectable--text" @click="fileLoadExp">Load Experiment</h6>
            </template>
            <hr class="menu-sep" align="center">
            <!-- Switch to admin mode-->
            <template v-if="user.accessLevel == 2 && !isAreYouSureOpen">
              <h6 class="file-menu--text selectable--text" @click="areYouSureOpen(fileClickAdmin)">Administration</h6>
            </template>
            <template v-else-if="user.accessLevel == 2 && isAreYouSureOpen">
              <h6 class="file-menu--text disabled--text">Administration</h6>
            </template>
            <h6 class="file-menu--text selectable--text" @click="areYouSureOpen(fileLogOut)">Log Out</h6>
            <h6 class="file-menu--text selectable--text" @click="areYouSureOpen(winClose)">Exit</h6>
          </div>
        </div>
        <!-- New subject modal -->
        <div class="modal" v-bind:class="{show: isEnterSubjectOpen === true}">
          <div class="modal--input white">
            <h1 style="font-size: 24px; margin: 0;">New Subject</h1>
            <template v-if="validated.newSubjectCode">
              <input v-model="draft.subject_code" maxlength="12" class="light-grey border--black regular" type="text" id="subID" style="margin-top: 15px" placeholder=" Identification code">
            </template>
            <template v-else>
              <!-- Validation -->
              <div class="error-text flexbox-row white--text" style="bottom: 106px; left: 17px; width: 229px;">
                <h4 style="margin-left: 4px; font-weight: 500; font-size: 12;">Must include at least one digit.</h4>
              </div>
              <input v-model="draft.subject_code" maxlength="12" class="light-grey error regular" type="text" id="subID" style="margin-top: 15px" placeholder=" Identification code">
            </template>
            <div class="flexbox-row--align" style="margin-top: 15px; margin-left: 20px; width: 100%;">
              <template v-if="draft.subject_code != ''">
                <button class="dark-grey white--text selectable" style="margin-right: 5px;" @click="newSubject">Proceed</button>
              </template>
              <template v-else>
                <button class="dark-grey white--text disabled" style="margin-right: 5px;">Proceed</button>
              </template>
              <button class="red white--text selectable" style="margin-left: 5px; margin-right: 50px;" @click="newSubjectClose">Cancel</button>
            </div>
          </div>
        </div>
        <!-- Load experiment modal -->
        <div class="modal" v-bind:class="{show: isLoadExperimentOpen}">
          <div class="modal--input white">
            <h1 style="font-size: 24px; margin: 0;">Load Experiment</h1>
            <!-- Choose experiment from dropdown-->
            <div class="dropdown">
                <template v-if="experiment.id != null">
                  <button class="dropdown-btn light-grey" style="margin-top: 15px; padding-top: 0; padding-bottom: 0; padding-left: 8px; padding-right: 0; border-radius: 0px; text-align: left; font-size: 12pt;">
                      {{experiment.name}}
                  </button>
                </template>
                <template v-else>
                  <button class="dropdown-btn light-grey" style="margin-top: 15px; padding-top: 0; padding-bottom: 0; padding-left: 8px; padding-right: 0; border-radius: 0px; text-align: left; font-size: 12pt;">
                      Select experiment
                  </button>                 
                </template>
              <div class="dropdown-content light-grey--notopaque" style="min-width: 94.25%;" id="dropContent">
                <dropdown
                  v-for="experiment in experiments"
                  v-bind:key="experiment.id"
                  v-bind:obj="experiment"
                  @click.native="chooseExperiment($event, experiment)">
                </dropdown>
              </div>
            </div>	
            <div class="flexbox-row--align" style="margin-top: 15px; margin-left: 20px; width: 100%;">
              <template v-if="experiment.id != null && experiment">
                <button class="dark-grey white--text selectable" style="margin-right: 5px;" @click="loadExp">Load</button>
              </template>
              <template v-else>
                <button class="dark-grey white--text disabled" style="margin-right: 5px;">Load</button>
              </template>
              <button class="red white--text selectable" style="margin-left: 5px; margin-right: 50px;" @click="loadExpClose">Cancel</button>
            </div>
          </div>
        </div>
        <!-- Are you sure modal -->
        <div class="modal" v-bind:class="{show: isAreYouSureOpen}">
          <div class="modal--input white">
            <h1 style="font-size: 24px; margin: 0;">Are you sure?</h1>
            <h6 style="margin-top: 22px; margin-bottom: 27px; padding: 0;">You might lose some changes.</h6>
            <div class="flexbox-row--align" style="margin-top: 15px; margin-left: 20px; width: 100%;">
              <button class="dark-grey white--text selectable" style="margin-right: 5px;" @click="areYouSureYes">Proceed</button>
              <button class="red white--text selectable" style="margin-left: 5px; margin-right: 50px;" @click="areYouSureNo">Cancel</button>
            </div>
          </div>
        </div>
        <!-- Settings modal -->
        <div class="modal" v-bind:class="{show: isSettingsMenuOpen === true}">
          <div class="modal--settings white">
            <h1 style="font-size: 28px; margin: 0;">Settings</h1>
            <!-- Display who is currently logged in -->
            <h3 class="semibold" style="font-size: 18px; margin-bottom: 30px;"><strong>Currently Logged-In:</strong> {{user.firstName}} {{user.lastName}}</h3>
            <h2 style="font-weight: bold; margin-bottom: 10px;">Beverages</h2>
            <div class="flexbox-row">
              <!-- Add a new beverage and concentration -->
              <div class="flexbox-column" style="width: 50%; padding-right: 30px;">
                <h3 style="font-size: 18px; font-weight: bold; margin: 0;">Add New Beverage: </h3>
                <div class="flexbox-row--alignleft margin-tb--10px">
                  <h3 class="margin-input input-label semibold">Name: </h3>
                  <input class="light-grey border--black regular short" type="text" id="newBevName" v-model="settingsBeverage.newName">
                </div>
                <div class="flexbox-row--alignleft margin-tb--10px">
                  <h3 class="margin-input input-label semibold">Alc. %: </h3>
                  <template v-if="validated.newBeverage">
                    <input class="light-grey border--black regular short" type="text" id="newBevConc" v-model="settingsBeverage.newConc">
                  </template>
                  <template v-else>
                    <!-- Validation -->
                    <div class="error-text flexbox-row white--text" style="left: 80px; width: 144px;">
                      <h4 style="margin-left: 4px; font-weight: 500; font-size: 12;">Enter a number between 1 & 100.</h4>
                    </div>
                    <input class="light-grey border--black error regular short" type="text" id="newBevConc" v-model="settingsBeverage.newConc">
                  </template>
                </div>
              </div>
              <div class="flexbox-column" style="padding-right: 30px;">
                <!-- Edit an existing beverage and concentration-->
                <h3 style="font-size: 18px; font-weight: bold; margin: 0;">Edit Beverage: </h3>
                <div class="flexbox-row--alignleft margin-tb--10px">
                  <h3 class="margin-input input-label semibold">Select: </h3>
                  <div class="dropdown short">
                    <!-- Pick existing beverage from dropdown -->
                    <template v-if="settingsBeverage.id != null">
                      <button class="dropdown-btn light-grey" style="width: 150px; padding-top: 0; padding-bottom: 0; padding-left: 8px; padding-right: 0; border-radius: 0px; text-align: left; font-size: 12pt;">
                          {{settingsBeverage.name}}
                      </button>
                    </template>
                    <template v-else>
                      <button class="dropdown-btn light-grey" style="width: 150px; padding-top: 0; padding-bottom: 0; padding-left: 8px; padding-right: 0; border-radius: 0px; text-align: left; font-size: 12pt;">
                          Select
                      </button>                 
                    </template>
                  <div class="dropdown-content light-grey--notopaque" style="min-width: 96.75%;" id="dropContent">
                    <dropdown
                      v-for="beverage in beverages"
                      v-bind:key="beverage.id"
                      v-bind:obj="beverage"
                      @click.native="chooseBeverage($event, beverage)">
                    </dropdown>
                  </div>
                </div>	
                </div>
                <div class="flexbox-row--alignleft margin-tb--10px">
                  <h3 class="margin-input input-label semibold">Alc. %: </h3>
                  <template v-if="validated.changeBeverage">
                    <input class="light-grey border--black regular short" type="text" id="changeBevConc" v-model="settingsBeverage.concentration">
                  </template>
                  <template v-else>
                    <!-- Validation -->
                    <div class="error-text flexbox-row white--text" style="left: 90px; width: 144px;">
                      <h4 style="margin-left: 4px; font-weight: 500; font-size: 12;">Enter a number between 1 & 100.</h4>
                    </div>
                    <input class="light-grey border--black error regular short" type="text" id="changeBevConc" v-model="settingsBeverage.concentration">
                  </template>
                </div>
                <div class="flexbox-row--align" style="margin-top: 20px; margin-left: 20px; width: 100%;">
                  <template v-if="settingsBeverage.id != null">
                    <button class="red white--text selectable" style="margin-left: 5px; position: absolute; width: 200px; right: 315px; margin-bottom: 8px;" @click="deleteBeverage">Delete Selected</button>
                  </template>
                  <template v-if="settingsBeverage.id != null || settingsBeverage.newName != '' || settingsBeverage.newConc != '' || settingsBeverage.concentration != ''">
                    <button class="dark-grey white--text selectable" style="margin-right: 5px;" @click="settingsSave">Save</button>
                  </template>
                  <template v-else>
                    <button class="dark-grey white--text disabled" style="margin-right: 5px;">Save</button>
                  </template>
                  <button class="red white--text selectable" style="margin-left: 5px;" @click="settingsClose">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!-- Page Script (all v-model, v-if/v-else and @click are defined here) -->
  <script src="js/main.js"></script>
</html>
